<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Setup</title>
</head>
<title>Welcome!</title>

<h1>Hello {{ name }}!</h1>
<br>
<h2>Welcome to Commerce Bank Fundraising</h2>


<h3>Current fundraisers:</h3>
<table style="border:1px solid black;">

    <thread>
        <tr style="border:1px solid black;">
            <th style="border:1px solid black;">TITLE</th>
            <th style="border:1px solid black;">DESCRIPTION</th>
            <th style="border:1px solid black;">GOAL</th>
        </tr>
    </thread>
    <tbody>
        {% for row in table %}
        <tr>
            <td style="border:1px solid black;"><a href="fundraiser/{{ row[3] }}">{{row[0]}}</a></td>
            <td style="border:1px solid black;">{{row[1]}}</td>
            <td style="border:1px solid black;">{{row[2]}}</td>
        </tr>
            {% endfor %}
    </tbody>
</table>
<br>
<form action="/login">
    <input type="submit" value="LOG IN">
</form>
<br>
<form action="/new-user-form">
        <input type="submit" value="Sign Up">
</form>
<br>
<form action="/new-fundraiser">
        <input type="submit" value="Make A New Fundraiser">
</form>
