<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fundraiser NAME</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    <h1>{{ fund_name }} Fundraiser
        <br><br>
        Description : {{ fund_desc }}
        <br><br>
        GOAL: ${{ fund_goal }}
        CURRENT BALANCE: ${{fund_balance}}
        <br><br>

        Created: {{fund_creationdate}}
        <br><br>
        Fundraiser End Date: {{fund_timeline}}
    </h1>
    <h2> Donations: </h2>
<table style="border:1px solid black;">

    <thread>
        <tr style="border:1px solid black;">
            <th style="border:1px solid black;">Donor</th>
            <th style="border:1px solid black;">Amount</th>
        </tr>
    </thread>
    <tbody>
        {% for row in table %}
        <tr>
            <td style="border:1px solid black;">{{row[0]}}</td>
            <td style="border:1px solid black;">${{row[1]}}</td>
        </tr>
            {% endfor %}
    </tbody>
</table>
<br>
<form action="/donation-form/{{fund_ID}}">
        <input type="submit" value="Make a Donation!">
</form>
<br>
<button onclick="history.back()">Go Back</button>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>