<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Setup</title>
</head>
<title>Welcome!</title>

<h1>Hello {{ name }}!</h1>
<br>
<h2>Welcome to Commerce Bank Fundraising</h2>


<h3>Current fundraisers:</h3>
<table>
    <thread>
        <tr>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>GOAL</th>
            <th>BALANCE</th>
        </tr>
    </thread>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
        </tr>
            {% endfor %}
    </tbody>
</table>
<br>
<form action="/login">
    <input type="submit" value="LOG IN">
</form>
<br>
<form action="/new-user-form">
        <input type="submit" value="Sign Up">
</form>
<br>
<form action="/donation-form">
        <input type="submit" value="Make a Donation!">
</form>




