<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Setup</title>
</head>
<body>
    <h1>USER SETUP:</h1><br>

    <form action="/fillingNewUserForm"  method="post">
        <label for="UserName">UserName: </label><br>
        <input type="text" id="UserName" name="UserName">
        <br>
        <label for="Password">Password: </label><br>
        <input type="password" id="Password" name="Password">
        <br>
        <label for="Email">E-Mail: </label><br>
        <input type="text" id="Email" name="Email">
        <br>
        <label for="Name">Full Name: </label><br>
        <input type="text" id="Name" name="Name">
        <br>
        <label for="PhoneNumber">Phone Number: </label><br>
        <input type="text" id="PhoneNumber" name="PhoneNumber">
        <br>
        <label for="StreetAddress">Street Address: </label><br>
        <input type="text" id="StreetAddress" name="StreetAddress">
        <br>
        <label for="City">City: </label><br>
        <input type="text" id="City" name="City">
        <br>
        <label for="State">State: </label><br>
        <input type="text" id="State" name="State">
        <br>
        <label for="ZipCode">Zip Code: </label><br>
        <input type="text" id="ZipCode" name="ZipCode">
        <br>
        <label for="Country">Country: </label><br>
        <input type="text" id="Country" name="Country">
        <br>
        <label for="CardNumber">Card number: </label><br>
        <input type="text" id="CardNumber" name="CardNumber">
        <br>
            <div class="month">
                <select name="Month">
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="year">
                <select name="Year">
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>
            </div>
        </div>
        <br>
        <label for="RoutingNumber">Routing Number: </label><br>
        <input type="text" id="RoutingNumber" name="RoutingNumber">
        <br>
        <label for="AccountNumber">Account Number: </label><br>
        <input type="text" id="AccountNumber" name="AccountNumber">
        <br>
        <input type="submit" value="SUBMIT">
    </form>

</body>
</html>