<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Make a new Donation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <style>
    * {box-sizing: border-box;}

    h2{
        text-align: center;
        text-transform: uppercase;
    }

    h3{
        text-align: center;
    }

    button{
        margin-left: 375px;
    }


    body{
        background: #eee !important;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .banner{
        color: #4CAF50;
        margin-left: 0px;
    }

    form{
        margin-top: 50px;
    }

    .wrapper{
        margin-top: 300px;
        max-width: 450px;
        padding: 15px 35px 45px;
        margin: auto;
        background-color: #fff;
        border: 5px solid rgba(0,0,0,0.1);

        .container{
            margin-top: 80px;
            margin-bottom: 80px;
        }


        .form-details{
            margin-bottom: 30px;
        }

        .form-control{
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            @include box-sizing(border-box);
            &:focus {
                z-index: 2;
            }
        }
    }

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #61C957;
  color: black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
    </style>
<!--    h2{-->
<!--        text-align: center;-->
<!--        text-transform: uppercase;-->
<!--        color: #4CAF50;-->
<!--    }-->
</head>

<body>

{% if isGuest == False %}
<!--responsive banner-->
<div class="topnav">
    <a class="active" href="/dashboard">Home</a>
    <a href="/log-out">Log out</a>
    <a href="/new-fundraiser">New fundraiser</a>
    <a href="/settings">Settings</a>
</div>

<script>
window.onscroll = function() {myFunction()};

var topnav = document.getElementById("topnav");
var sticky = topnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    topnav.classList.add("sticky")
  } else {
    topnav.classList.remove("sticky");
  }
}
</script>

<!-- welcome for user -->

<h2 class="container-fluid p-3 bg-success text-white text-center">Hello, {{ name }}</h2>
<br>

<!-- donating as user -->
<h3>Donating To: </h3>
<br>
<h3 class="banner">{{ fundraiser_name }}</h3>

<form action="/submittingDonation" method="post">
    <div class="wrapper">
        <div class="container">
            <input type="hidden" class="form-control" name="fund_id" value="{{ fundraiser_ID }}"/>
            <label for="amount">Donation Amount: </label>
            <br>
            <input type="text" class="form-control" id="amount" name="amount" autocomplete="off" placeholder="enter amount">
            <br>

            <!-- email -->
            <label for="email">Email: </label><br>
            <input type="text" class="form-control" id="email" name="email" value="{{ email }}" readonly="readonly" /><br>

            <!-- billing address -->
            <legend>Billling Address:</legend>
<!--            <label for="address">Billing Address:</label><br>-->
            <input type="text" class="form-control" id="address" value="{{streetAddress}}" readonly="readonly" /><br>
            <input type="text" class="form-control" id="inputCountry" value="{{restOfAddress}}" readonly="readonly"/><br>

            {% if creditCardOption == True %}
            <div class="form-body">
                <legend>Banking Information</legend>
                <!-- Card Number -->
                <input type="text" class="form-control" value="{{cardNum}}"readonly="readonly"/><br>

                <!-- Date Field -->
                <div class="date-field">
                    <input type="text" class="form-control" value = "{{expirationDate}}" readonly="readonly" /><br>
                </div>

                <!-- Card Verification Field :: We cannot verify CVV but we need to constrain it to 3 digits at least-->
                <div class="card-verification">
                    <div class="cvv-input">
                        <input type="text" class="form-control" autocomplete="off" placeholder="CVV">
                        * Payment option can be changed to a Bank Account in user settings.<br>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if creditCardOption == False %}

            <!-- Bank Account -->
            <div class="form-header">
                <h5 class="title">Bank Account detail</h5>
            </div>

            <label for="RoutingNumber">Routing Number: </label><br>
            <input type="text" id="Routing-Number" name="RoutingNumber" value="{{routingNum}}" class="form-control" placeholder="enter routing number" readonly="readonly"/>
            <br>
            <label  for="account-number">Account Number:</label><br>
            <input type="text" class="form-control" id="account-number" value="{{accountNum}}" placeholder="enter bank account number" readonly="readonly"/>
            * Payment option can be changed to a Credit Card in user settings.<br>
            {% endif %}
<!--                <span class="show__account&#45;&#45;number">-->
<!--                    <i class="fa fa-eye-slash" aria-hidden="true"></i>-->
<!--&lt;!&ndash;                    <i class="fa fa-eye-slash pword_icon"></i>&ndash;&gt;-->
<!--                </span>-->
            <br>
            <input type="submit" value="SUBMIT"/>
        </div>
    </div>
</form>
{% endif %}

{% if isGuest == True %}
<div class="topnav">
    <a href="/dashboard">Home</a>
    <a href="/login">Login</a>
    <a href="/new-user-form">Sign Up!</a>
</div>

<script>
window.onscroll = function() {myFunction()};

var topnav = document.getElementById("topnav");
var sticky = topnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    topnav.classList.add("sticky")
  } else {
    topnav.classList.remove("sticky");
  }
}
</script>

<!-- welcome for guest -->
<h2 class="container-fluid p-3 bg-success text-white text-center">Hello, you'll be making your donation as a {{ name }}</h2>

<br>
<!-- donating for guest -->
<h3>Donating To: </h3>
<br>
<h3 class="banner">{{ fundraiser_name }}</h3>

<form action="/submittingDonation" method="post">
    <div class="wrapper">
        <div class="container">
            <input type="hidden" class="form-control" name="fund_id" value="{{ fundraiser_ID }}"/>
            <legend>Donation Amount:</legend>
            <br>
            <input type="text" class="form-control" id="guestAmount" name="amount" autocomplete="off" placeholder="enter amount"><br><br>

            <legend>Billling Address:</legend>
            <!-- billing address -->
            <label for="StreetAddress">Street Address:</label><br>
            <input type="text" id="StreetAddress" class="form-control" placeholder="street address" />
            <br>
            <label for="City">City: </label><br>
            <input type="text" id="City" class="form-control" placeholder="city"/>
            <br>
            <label for="State">State: </label><br>
            <input type="text" id="State" class="form-control" placeholder="state"/>
            <br>
            <label for="ZipCode">Zip Code: </label><br>
            <input type="text" id="ZipCode" class="form-control" placeholder="zip code"/>
            <br>
            <label for="Country">Country: </label><br>
            <input type="text" id="Country" class="form-control" placeholder="country"/>
            <br>
            <hr>
            <div class="form-body">
                <legend>Payment Information</legend>

                Select A Payment Option:
                    <div>
                        <input type="radio" id="creditCard" name="paymentOptionToggle" value="creditCard" checked>
                            <label for="creditCard">Use A Credit Card:</label>
                        <br>
                        <input type="radio" id="bankInfo" name="paymentOptionToggle" value="bankInfo">
                            <label for="bankInfo">Use A Bank Account:</label>
                    </div>
                    <br>

                    <div id="selectCreditCardCode">
                    <div class="form-header">
                        <h5 class="title">Credit Card Information</h5>
                    </div>
                    <label  for="CardNumber">Card number: </label><br>
                    <input type="text" id="CardNumber" name="CardNumber" class="form-control" placeholder="enter card number">
                    <div class="dropdown">
                        <div class="month">
                            Expiration Month:
                            <select id="Month" name="Month">
                                <option value="01" >January</option>
                                <option value="02">February</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="year">
                            Expiration Year:
                            <select id="Year" name="Year">
                                <option value="2022" selected>2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                            </select>
                        </div>
                        <!-- Card Verification Field :: We cannot verify CVV but we need to constrain it to 3 digits at least-->
                        <div class="card-verification">
                            <div class="cvv-input">
                                <input type="text" id="cvv" name="cvv" class="form-control" autocomplete="off" placeholder="CVV">
                                <br>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div id="selectBankAccountCode" style="display:none">

                    <div class="form-header">
                        <h5 class="title">Bank Account detail</h5>
                        </div>
                    <label for="RoutingNumber">Routing Number: </label><br>
                    <input type="text" id="RoutingNumber" name="RoutingNumber" class="form-control" placeholder="enter routing number">
                    <br>
                    <label for="AccountNumber">Account Number: </label><br>
                    <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" placeholder="enter account number">
                    <br>

            </div>
            <input type="submit" value="SUBMIT">
            </fieldset>
            </div>
        </div>
    </div>
        </form>
{% endif %}

    <br>
    <button class="btn btn-default" onclick="history.back()">Go Back</button>
    <br><br>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script type="text/javascript">
    const creditCardSelect = document.getElementById('selectCreditCardCode');
    const bankAccountSelect = document.getElementById('selectBankAccountCode');

    function handleRadioClick() {
    if (document.getElementById('creditCard').checked) {
        creditCardSelect.style.display = 'block';
        $("#RoutingNumber").val(null);
        $("#AccountNumber").val(null);
    } else {
        creditCardSelect.style.display = 'none';
    }

    if (document.getElementById('bankInfo').checked) {
        bankAccountSelect.style.display = 'block';
        $("#CardNumber").val(null);
        $("#Month").val(null);
        $("#Year").val(null);
        $("#cvv").val(null);
    } else {
        bankAccountSelect.style.display = 'none';
    }
    }

    const radioButtons = document.querySelectorAll('input[name="paymentOptionToggle"]');
    radioButtons.forEach(radio => {
    radio.addEventListener('click', handleRadioClick);
    });
    </script>



</body>
</html>