<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile: {{ name }}</title>
</head>
<body>
<h1>User Information:</h1><br>
<h3>Name: {{ name }}</h3>

<form action="/action_page.php">
    <!-- email -->
    <label for="email">Email: </label><br>
    <input type="text" class="form-control" id="email" placeholder="Email"><br><br>

    <!-- billing address -->
    <label for="address">Billing Address:</label><br>
    <input type="text" class="form-control" id="address" placeholder="Address"><br><br>
    <input type="text" class="form-control" id="inputCountry" placeholder="City, State, Country">
</form>

<hr>

<form class="credit-card">
  <div class="form-header">
    <h4 class="title">Credit card detail</h4>
  </div>

  <div class="form-body">
    <!-- Card Number -->
    <input type="text" class="card-number" placeholder="Card Number">

    <!-- Date Field -->
    <div class="date-field">
      <div class="month">
        <select name="Month">
          <option value="january">January</option>
          <option value="february">February</option>
          <option value="march">March</option>
          <option value="april">April</option>
          <option value="may">May</option>
          <option value="june">June</option>
          <option value="july">July</option>
          <option value="august">August</option>
          <option value="september">September</option>
          <option value="october">October</option>
          <option value="november">November</option>
          <option value="december">December</option>
        </select>
      </div>

      <div class="year">
        <select name="Year">
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
        </select>
      </div>
    </div>

    <!-- Card Verification Field -->
    <div class="card-verification">
      <div class="cvv-input">
        <input type="text" placeholder="CVV">
      </div>
    </div>
  </div>
</form>

<hr>

<form>
  <!-- Bank Account -->
  <div class="form-header">
    <h4 class="title">Bank Account detail</h4>
  </div>
  <div class="bank--control">
    <div class="bank--add__body">
      <div class="container-fluid">
        <div class="row">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="form__control">
                <label class="form__label" for="routing">Bank number</label>
                <br>
                <input type="text" id="routing" placeholder="e.g. 122100024">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="form__control">
                <label class="form__label" for="account-number">Account number</label>
                <br>
                <input class="account-number" id="account-number" type="password" placeholder="e.g. 122039827" />
                <span class="show__account--number">
                  <i class="fa fa-eye-slash pword_icon"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<hr>
<form action="/action_page.php">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password"><br>
  <input type="button" value="change password"><br>
</form>

</body>
</html>